{{ define "body-class" }}
    {{ $TOCEnabled := false }}
    {{ if isset .Site.Params.article "toc" }}
        {{ $TOCEnabled = .Site.Params.article.toc }}
    {{ end }}
    {{ if isset .Params "toc" }}
        {{ $TOCEnabled = .Params.toc }}
    {{ end }}
    {{ $tocStartLevel := int (default (default 1 .Site.Params.article.tocStartLevel) .Params.tocStartLevel) }}
    {{ $tocEndLevel := int (default (default 6 .Site.Params.article.tocEndLevel) .Params.tocEndLevel) }}
    {{ $tocOrdered := true }}
    {{ if isset .Site.Params.article "tocordered" }}
        {{ $tocOrdered = .Site.Params.article.tocOrdered }}
    {{ end }}
    {{ if isset .Params "tocordered" }}
        {{ $tocOrdered = .Params.tocOrdered }}
    {{ end }}
    {{- .Scratch.Set "tocStartLevel" $tocStartLevel -}}
    {{- .Scratch.Set "tocEndLevel" $tocEndLevel -}}
    {{- .Scratch.Set "tocOrdered" $tocOrdered -}}
    {{- .Scratch.Set "hasTOC" (and (ge (len .TableOfContents) 100) $TOCEnabled) -}}
    article-page
{{ end }}

{{ define "container-class" }}
    on-phone--column {{ if (.Scratch.Get "hasTOC") }}extended{{ else }}{{ if .Site.Params.widgets.enabled }}extended{{ else }}compact{{ end }}{{ end }}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ partial "article/components/related-contents" . }}
     
    {{ if or (not (isset .Params "comments")) (eq .Params.comments "true")}} 
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "left-sidebar" }}
    <!-- {{ if (.Scratch.Get "hasTOC") }}
        <div id="article-toolbar">
            <a href="{{ .Site.BaseURL }}" class="back-home">
                {{ (resources.Get "icons/back.svg").Content | safeHTML }}
                <span>{{ T "article.back" }}</span>
            </a>
        </div>
    {{ else }}
        {{ partial "sidebar/left.html" . }}
    {{ end }} -->
<div id="article-toolbar">
    <a href="{{ "/post/" | relLangURL }}" class="back-home">
        {{ (resources.Get "icons/back.svg").Content | safeHTML }}
        <span>返回文章列表</span>
    </a>
</div>
    {{ partial "sidebar/left.html" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ if (.Scratch.Get "hasTOC") }}
        <aside class="sidebar right-sidebar sticky">
            <section class="widget archives widget-toc">
                <div class="widget-icon">
                    {{ partial "helper/icon" "hash" }}
                </div>
                <h2 class="widget-title section-title">目录</h2>
                
                <div class="widget--toc">
                    {{ $tocStartLevel := .Scratch.Get "tocStartLevel" }}
                    {{ $tocEndLevel := .Scratch.Get "tocEndLevel" }}
                    {{ $tocOrdered := .Scratch.Get "tocOrdered" }}
                    {{ $tocHTML := partial "article/components/toc" (dict "Page" . "startLevel" $tocStartLevel "endLevel" $tocEndLevel "ordered" $tocOrdered) }}
                    {{ if $tocHTML }}
                        {{ $tocHTML }}
                    {{ else if $tocOrdered }}
                        {{ replace (replace .TableOfContents "<ul>" "<ol>") "</ul>" "</ol>" | safeHTML }}
                    {{ else }}
                        {{ replace (replace .TableOfContents "<ol>" "<ul>") "</ol>" "</ul>" | safeHTML }}
                    {{ end }}
                </div>
            </section>
        </aside>
    {{ else }}
        {{ partial "sidebar/right.html" . }}
    {{ end }}
{{ end }}
