<header class="top-nav">
    <div class="nav-inner">
        <a class="site-title" href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a>
        <div class="nav-group">
            <nav class="nav-menu" aria-label="Primary">
                <ol>
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
                        <li {{ if $active }}class="current"{{ end }}>
                            <a href='{{ .URL | relLangURL }}' {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                                <span>{{- .Name -}}</span>
                            </a>
                        </li>
                    {{ end }}
                </ol>
            </nav>

            <div class="nav-search">
                {{- $searchPage := .Site.GetPage "/search" -}}
                {{- if $searchPage -}}
                    <form action="{{ $searchPage.RelPermalink }}" method="get" class="top-search-form" role="search">
                        <label class="visually-hidden">搜索</label>
                        <input name="keyword" placeholder="输入关键词..." />
                        <button type="submit" title="搜索">
                            {{ partial "helper/icon" "search" }}
                        </button>
                    </form>
                {{- else -}}
                    {{- warnf "Search page not found. Create a page with layout: search." -}}
                {{- end -}}
            </div>
        </div>
    </div>
</header>
