<div class="article-details">
    {{ partial "article/components/terms" . }}

    <h2 class="article-title">
        <a href="{{ .RelPermalink }}">
            {{- .Title -}}
        </a>
    </h2>

    {{ with .Params.description }}
    <h3 class="article-subtitle">
        {{ . }}
    </h3>
    {{ end }}

    {{ if or (not .Date.IsZero) (.Site.Params.article.readingTime) }}
    <footer class="article-time">
        {{ if not .Date.IsZero }}
            <div>
                {{ partial "helper/icon" "date" }}
                <span class="article-time--date-range"><time class="article-time--published" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{- .Date.Format "Jan 2, 2006" -}}</time>{{ if not .Lastmod.IsZero }}<span class="article-time--date-separator"> / Update </span><time class="article-time--updated" datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>{{- .Lastmod.Format "Jan 2, 2006" -}}</time>{{ end }}</span>
            </div>
        {{ end }}

        {{ if .Site.Params.article.readingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ .WordCount }} &#23383; &middot; {{ div .WordCount 300 }} &#20998;&#38047;
                </time>
            </div>
        {{ end }}
    </footer>
    {{ end }}
</div>
